<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Provident et, laudantium ut reprehenderit, quam aliquid
                accusamus nam fugiat expedita excepturi ex libero esse
                vitae ad accusantium maxime vero eius recusandae.</p>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Provident et, laudantium ut reprehenderit, quam aliquid
                accusamus nam fugiat expedita excepturi ex libero esse
                vitae ad accusantium maxime vero eius recusandae.</p>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Provident et, laudantium ut reprehenderit, quam aliquid
                accusamus nam fugiat expedita excepturi ex libero esse
                vitae ad accusantium maxime vero eius recusandae.</p>
            <li>
                <h1>Trabajo 4</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Provident et, laudantium ut reprehenderit, quam aliquid
                accusamus nam fugiat expedita excepturi ex libero esse
                vitae ad accusantium maxime vero eius recusandae.</p>
        </ul>
    </div>
</div>
